---
# TODO: uncomment and rename with `example` when tests are added
name: Build
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - master
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Run tests
        run: python setup.py test

      - name: Backstage entity validator
        uses: RoadieHQ/backstage-entity-validator@v0.3.11

